/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
} */

h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
    font-size: 2.5em;
}

h2 {
    color: #34495e;
    border-bottom: 2px solid #34495e;
    padding-bottom: 5px;
    margin-top: 20px;
    font-size: 1.8em;
}

p {
    margin: 5px 0;
    font-size: 1.1em;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

.section {
    margin-bottom: 30px;
}

.section:last-child {
    margin-bottom: 0;
}

.contact-info {
    text-align: center;
    margin-bottom: 30px;
}

.contact-info p {
    margin: 5px 0;
    font-size: 1.1em;
    color: #555;
}

.contact-info a {
    color: #3498db;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.skills ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.skills ul li {
    break-inside: avoid-column;
}

/* Responsive Design */
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    .skills ul {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }
}